<div class="max-w-md mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Sign In</h2>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <app-input-field [formGroup]="signinForm" controlName="email" label="Email" type="email"
            placeholder="Enter your email"></app-input-field>

        <app-input-field [formGroup]="signinForm" controlName="password" label="Password" type="password"
            placeholder="Enter your password"></app-input-field>

        <app-button type="submit" text="Sign In" customClass="w-full bg-blue-500 text-white hover:bg-blue-600"
            [disabled]="signinForm.invalid"></app-button>
    </form>
</div>