<div class="min-h-screen flex bg-primary-50">
  <!-- Sidebar (controlled by state) -->
  <aside class="shrink-0 transition-all duration-300 fixed md:relative z-30 h-full"
    [class.w-10]="isMobile && !sidebarOpen" [class.w-64]="!isMobile || sidebarOpen">
    <app-sidebar (menuStateChange)="onMenuStateChange($event)"></app-sidebar>
  </aside>

  <div class="flex-1 flex flex-col transition-all duration-300" [class.ml-64]="sidebarOpen">
    <app-navbar (searchEvent)="onSearch($event)"></app-navbar>
    <main class="flex-1 px-4 max-w-screen-xl mx-auto w-full">
      <app-shop [searchTerm]="searchTerm"></app-shop>
    </main>
  </div>
</div>