<div
  class="relative bg-primary-50 w-full max-w-[10.375rem] mx-auto rounded-xl shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer"
  (click)="openModal()">

  @if (first()) {
  <span class="absolute top-2 right-2 bg-tertiary-500 text-tertiary-100 text-xs px-2 py-1 rounded z-10">First</span>
  } @else if (last()) {
  <span class="absolute top-2 right-2 bg-secondary-100 text-secondary-700 text-xs px-2 py-1 rounded z-10">Last</span>
  }

  <div class="aspect-[166/221] w-full">
    <img [src]="product().imageCover" [alt]="product().title"
      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300 rounded-t-xl" />
  </div>

  <div class="p-3 md:p-4">
    <h3 class="font-semibold mb-2 line-clamp-1 text-sm md:text-base" [ngClass]="{
        'text-primary-900': !first() && !last(),
        'text-tertiary-800': first(),
        'text-secondary-800': last()
      }">
      {{ product().title }}
    </h3>

    <p class="text-primary-600 text-xs md:text-sm mb-3 md:mb-4 line-clamp-1">
      {{ product().category.name}}
    </p>

    <p class="text-base md:text-lg font-bold"
      [ngClass]="product().price > 100 ? 'text-tertiary-400' : 'text-primary-600'">
      ${{ product().price }}
    </p>

    <div class="mt-3" (click)="$event.stopPropagation()">
      <app-button [text]="isInCart ? 'Remove' : 'Add'"
        [iconSrc]="isInCart ? 'assets/icons/trash.svg' : 'assets/icons/shopping-cart.svg'" iconPosition="left" size="sm"
        [customClass]="cartButtonClass" (clicked)="toggleCart()">
      </app-button>
    </div>
  </div>
</div>